<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<div class="bg-primary sticky-top">
    <h1>Pagination Example</h1>
    <br>
    <br>
</div>

  <hr>
  <div *ngFor = "let item of pagedItems">
{{item.name}}
  </div>
  <br>
  <div class="text-center">
    <!-- <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination> -->
    <ul class="pagination">
        <li class="page-item"  [ngClass]="{disabled: pager.currentPage === 1}"><a class="page-link " (click)="setPage(1)" ><<</a></li>
        <li class="page-item"  [ngClass]="{disabled: pager.currentPage === 1}"><a class="page-link" (click)="setPage(pager.currentPage - 1)" ><</a></li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item"><a class="page-link" (click)="setPage(page)" >{{page}}</a></li>
        <li class="page-item"  [ngClass]="{disabled: pager.currentPage === pager.totalPages}"><a class="page-link" (click)="setPage(pager.currentPage + 1)"  >></a></li>
        <li class="page-item"  [ngClass]="{disabled: pager.currentPage === pager.totalPages}"><a class="page-link"  (click)="setPage(pager.totalPages)" >>></a></li>
      </ul>
    
    <hr>
    <div class="bg-info">
        <pre>Current page: {{ pager.currentPage}}</pre>
    </div>
   
  </div>

</div>
